{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('load') }}" method=post class=add-entry>
      <dl>
        <dt>Hostname and port:
        <dd><input type=text size=30 name=hostname>
        <dt>Path:
        <dd><input type=text size=30 name=path>
        <dt>Query String:
        <dd><input type=text size=30 name=querystring>
        <dd><input type=submit value="Add to database">
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li>{{ entry.hostname }}{{ entry.path }}{{entry.querystring}}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
